---
import BaseCenteredTitle from "../components/BaseCenteredTitle.astro";
---

<BaseCenteredTitle title="404" lang="en">
  <p>
    That page doesn't exist. Go <a
      class="underline underline-offset-2 transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
      href="/">home</a
    >, or check out my <a
      class="underline underline-offset-2 transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
      href="/blog">blog</a
    >.
  </p>
</BaseCenteredTitle>
