---
import Layout from "../layouts/BlogPost.astro";
import AboutHeroImage from "../assets/about.jpg";
---

<Layout title="About" language="en" tags={[]} draft={false}>
  <img src={AboutHeroImage.src} />
  <p>
    Photo by <a
      href="https://www.yashnilay.ca"
      target="_blank"
      class="underline transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
      >Yash Patel</a
    >
  </p>

  <hr />

  <p>
    I'm a Computer Science graduate from the University of Windsor who has a
    passion for technology, software, and creating useful things. I'm always
    looking for opportunities to help people solve real problems through the
    software I create, and it's even better if I get to chew on a fun technical
    problem to get there. At my last co-op at Magna, I constantly took
    initiative to make improvements to the development environment by
    streamlining the development process, and to the user experience by
    modernizing the look and feel of the web applications. Outside of tech, I
    love reading, being behind a camera, on my bike, or playing soccer. I'm
    constantly looking for opportunities to improve myself physically and
    mentally, and to connect and share with others.
  </p>

  <p>
    Feel free to <a
      href="mailto:josiahj.h@outlook.com"
      target="_blank"
      class="underline transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
      >reach out to me</a
    > if you have any opportunities you think I would be interested in, or if there's
    anything interesting I've posted about you would like to discuss.
  </p>
</Layout>
