---
import Centered from "../components/Centered.astro";

import { LinkData } from "../data/links.ts";

const today = new Date();
---

<div
  class="bg-base-50 dark:bg-base-950 mt-auto flex w-full justify-center pt-6 pb-8"
>
  <Centered>
    <div class="my-12 flex flex-col justify-between sm:flex-row">
      <div class="mb-4 flex flex-col">
        <p class="mb-4 text-3xl font-bold">Josiah Henson</p>
        <div class="mb-6 flex">
          {
            LinkData.map((link) => (
              <a
                href={link.url}
                target="_blank"
                title={link.title}
                class="text-decoration-none pe-4"
              >
                <div class="h-5 w-5 transition-colors duration-150 ease-in-out before:text-xl hover:text-cyan-400 hover:dark:text-cyan-600">
                  <link.icon />
                </div>
              </a>
            ))
          }
        </div>
        <div class="flex flex-col">
          <span
            >This website is <a
              class="underline transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
              href="https://www.github.com/pbinspanish/personal-website-astro/"
              >open source</a
            >.</span
          >
          <span>© {today.getFullYear()} Josiah Henson.</span>
        </div>
      </div>

      <div class="mb-4 flex flex-col sm:justify-center">
        <div class="flex flex-row">
          <div class="me-6 flex flex-col">
            <span class="mb-2 text-lg font-bold">References</span>
            <a
              class="transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
              href="https://github.com/nicokaiser/hugo-theme-gallery"
              >hugo-theme-gallery</a
            >
            <a
              class="transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
              href="https://www.aleksandrhovhannisyan.com/blog/the-perfect-theme-switch/"
              >Theme Switcher</a
            >
          </div>

          <div class="flex flex-col">
            <span class="mb-2 text-lg font-bold">Libraries</span>
            <a
              class="transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
              href="https://astro.build/"
              target="_blank">Astro</a
            >
            <a
              class="transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
              href="https://tailwindcss.com/"
              target="_blank">Tailwind</a
            >
            <a
              class="transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
              href="https://lucide.dev"
              target="_blank">Lucide</a
            >
          </div>
        </div>
      </div>
    </div>
  </Centered>
</div>
