---
import HeaderLink from "./HeaderLink.astro";
import MobileHeaderLink from "./MobileHeaderLink.astro";

import ThemePicker from "./react/ThemePicker.jsx";

import { Menu, X } from "@lucide/astro";
---

<nav class="bg-paper sticky top-0 z-50 w-full py-0 dark:bg-black">
  <div class="mx-auto w-full max-w-3xl">
    <div class="mx-8 flex items-stretch">
      <a class="flex grow items-center no-underline" href="/">
        <h5
          class="mb-0 py-2 text-lg font-bold transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
        >
          Josiah Henson
        </h5>
      </a>

      <div class="hidden md:flex md:grow md:items-stretch md:justify-end">
        <ul class="flex items-stretch">
          <HeaderLink href="/blog">Blog</HeaderLink>
          <HeaderLink href="/photography">Photography</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
          <HeaderLink href="/links">Links</HeaderLink>
        </ul>
      </div>

      <ThemePicker client:only="react" />

      <div class="my-3 ms-4 flex items-center md:hidden">
        <button
          id="mobile-menu-button"
          class="inline-flex cursor-pointer items-center justify-center rounded-md hover:text-cyan-400 focus:ring-2 focus:ring-cyan-400 focus:outline-none focus:ring-inset dark:hover:text-cyan-600"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <Menu class="block h-6 w-6" aria-hidden="true" />
          <X class="hidden h-6 w-6" aria-hidden="true" />
        </button>
      </div>
    </div>
  </div>

  <div class="mx-auto hidden max-w-xl md:hidden" id="mobile-menu">
    <div class="mx-8 space-y-1 pt-2 pb-3">
      <MobileHeaderLink href="/blog">Blog</MobileHeaderLink>
      <MobileHeaderLink href="/photography">Photography</MobileHeaderLink>
      <MobileHeaderLink href="/about">About</MobileHeaderLink>
      <MobileHeaderLink href="/links">Links</MobileHeaderLink>
    </div>
  </div>
</nav>
