---
import BaseCenteredTitle from "../components/BaseCenteredTitle.astro";
import Tag from "../components/Tag.astro";

import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, date, language, tags, draft } = Astro.props;
---

<BaseCenteredTitle title={title} lang={language}>
  <!-- Metadata -->
  <div
    class={(date === undefined ? "hidden" : "") +
      " mb-12 flex flex-row items-center justify-between"}
  >
    <div class="text-base-600 dark:text-base-500">
      {
        date === undefined
          ? ""
          : date.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
              timeZone: "UTC",
            })
      }
    </div>
    <div class="ms-4 flex flex-row align-middle">
      {tags.map((tag) => <Tag tag={tag} />)}
    </div>
  </div>

  <!-- Content -->
  <div
    id="content"
    class="mb-12 text-justify text-lg/6 text-pretty hyphens-auto md:text-xl/7"
  >
    <slot />
  </div>
</BaseCenteredTitle>
